<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
   <div class="main-div">
    {{>header}}
     <div class="help-content-div" style="color: aliceblue;">
        <p>Created By : Ashish Kumar</p>
        <p>For testing purpose only</p> 
    </div>
</body>
</html>