<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    {{>header}}
    <div style="height:10vh;width:30vh;color: white;background-color: rgba(235, 15, 15,.2);margin-top: 1%;
    border-radius: 10px;display: flex;justify-content: center;align-items:center;flex-direction: column;">
    <p>404</p>
        Page Could Not Be Found !!!</div>  
</body>
</html>