<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
</head>
<body>
    <div class="main-div">
    {{>header}}
    <div class="help-content-div" style="color: aliceblue;">
        <ol>
            <li>This Site is Under Progress Help Section Will Be Updated soon.</li>
            </ol>
    </div>
    </div>
</body>
</html>