<div class="header-div">
<div class="icon-div">
    <img class="icon" src="/img/icon.jpg">
    <h2>Weather App</h2>  
</div>
<div class="search-div">
   <form class="search-form" id="search-formm">
       <input type="text" id="search" class="search" required placeholder="Enter An Address">
       <button class="submit-btn" type="submit" style="margin-left: 1%;">Get Weather</button> 
          </form>
</div>
<div class="help-div">
    <a href="/">Home</a>
    <a href="/help">Help</a>
    <a href="/about">About</a>
</div>
</div>
 
 {{!-- <div class="header-main-div"> 
        <div class="header-icon-div">
            <img id="icon" src="/img/icon.jpg">
            <h2>Weather App</h2>
        </div>
         <div class="form-div">
            <form class="form-div" id="search-form">
                <div class="form-group">
                     <input type="text" class="form-control" id="search" placeholder="Search An Address Like Ambala" required>
                     <button type="submit" id="submit-btn" class="btn btn-primary" style="margin-top: .5vh;">Get Weather</button>
                </div>
             </form>  
         </div>
        <div class="header-help-div">
             <a href="/">Home</a>
            <a href="/help">Help</a>
            <a href="/about">About</a>
        </div>
    </div> --}}