<div class="mini-data-div">
    <div class="placename-div" id="placename">   
    </div>
    <div class="mini-data-div2" id="mini-data-div2">
    <span class="mini-data-span" ></span>
    <span class="mini-data-span" ></span>
    <span class="mini-data-span" ></span>
    <span class="mini-data-span"></span>
    <span class="mini-data-span"></span>
    </div>
</div>